.footer {
    background: #042752;
    height: 100px;
}
.head{
    color: #fff;
    padding: 10px 0px 0px 0px;
}
.link_body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.list li{
    padding: 5px 10px;
}
.icon{
    width: 30px;
    height: 30px;
}